nav {
  text-align: center;
}
input {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 450px;
  height: 25px;
  text-align: center;
  background-color: #faebd7;
  font-size: 15px;
}
