.row {
  display: flex;
  margin: 10px;
}
.column {
  flex: 50%;
}

ul>li {
  display: inline-block;
}
li {
  margin-left: 10px;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.active-link {
  color: burlywood;
}
