<div class="row">
  <div class="column">
    <div class="items" *ngIf="todoItems$ | async as todoItems">
      <p>Titles: <span>{{todoItems.length}}</span></p>
    </div>
  </div>
  <div class="column">
    <nav>
      <ul>
        <li><a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">All</a></li>
        <li><a
          routerLink="/active"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Active</a></li>
        <li><a
          routerLink="/completed"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Completed</a></li>
      </ul>
    </nav>
  </div>
</div>



